{{#if isExpanded}}
  <div class="row" {{action 'contract'}}>
    <span>this row will hold meta data for the board. it will be invisible.</span>
    <span>it will become visible by clicking on the board button.</span>

    <div class="col-xs-12 panel">
      {{model.name}}-{{model.description}}
    </div>
  </div>
{{else}}
  <button {{action 'expand'}}>Show...</button>
{{/if}}

<div class="lists_wrapper">
  <div class="lists_inner_wrapper">
    <section class="lists ui-sortable">
      {{#each list in model.lists}}
        {{#list-component list=list lists=model.lists cards=list.cards}}

        {{/list-component}}
      {{/each}}
    </section>
  </div>
</div>



