{{#if isEditing}}
  <button {{action 'save'}}>save.</button>
{{else}}
  <button {{action 'edit'}}>edit.</button>
{{/if}}
<button class="archive_card entypo-cancel">x</button>
<span class="edit salary" style="float: right; color: green;"  {{bind-attr contentEditable=isEditing}}>${{card.salary}}</span>
<span class="edit card_title"  {{bind-attr contentEditable=isEditing}}>{{card.company}}</span>
<span class="edit card_title" {{bind-attr contentEditable=isEditing}}>{{card.title}}</span>

{{#if isEditing}}
  {{list}}
  {{view "select"
    content=lists
    optionValuePath="content.slug"
    optionLabelPath="content.title"}}
{{/if}}

{{yield}}

<span class="edit card_url"  {{bind-attr contentEditable=isEditing}}>{{card.url}}</span>
<footer>
  <div class="assignee">

  </div>
  <p class="comments_count">
  {{#if card.dueDate}}
    <div class="assignee">
      due: {{card.dueDate}}
    </div>
  {{/if}}
  <span class="entypo-comment" style="float: right">comments:{{card.commentCount}}</span>
  {{#if isEditing}}
    {{#each comment in card.comments}}
      {{input value=comment.content}}
    {{/each}}
  {{/if}}

  </p>
</footer>
