<div class="select">
  {{view "select"
  content=lists
  optionValuePath="content.slug"
  optionLabelPath="content.title"}}
</div>
{{#if isEditing}}
  <i {{action 'save'}} class="g-icon g-icon-done"></i>
{{else}}
  <i {{action 'edit'}} class="g-icon g-icon-mode-edit"></i>
{{/if}}
<button class="archive_card entypo-cancel">x</button>
<span class="edit salary"
      style=""  {{bind-attr contentEditable=isEditing}}>${{card.salary}}</span>
<span class="edit card_title"  {{bind-attr contentEditable=isEditing}}>{{card.company}}</span>
<span class="edit card_title" {{bind-attr contentEditable=isEditing}}>{{card.title}}</span>
{{yield}}

{{#if isEditing}}
  <span class="edit card_url"  {{bind-attr contentEditable=isEditing}}>{{card.url}}</span>
{{else}}
  <i class="g-icon g-icon-link">{{urlHOST}}</i>
{{/if}}


<footer>
  <div class="assignee">

  </div>
<p class="comments_count">
  {{#if card.dueDate}}
    <div class="assignee">
      due: {{card.dueDate}}
    </div>
  {{/if}}
  <span class="entypo-comment" style="float: right">comments:{{card.commentCount}}</span>
  {{#if isEditing}}
    {{#each comment in card.comments}}
      {{input value=comment.content}}
    {{/each}}
  {{/if}}

  </p>
</footer>
