<button class="archive_card entypo-cancel" data-card-id="4"></button>
<span class="salary" style="float: right; color: green;">${{card.salary}}</span>
<span class="card_title" style="display: inline;">{{card.company}}</span>
<span class="card_title">{{card.title}}</span>
<footer>
  <div class="assignee">
    {{card.url}}
  </div>
  <p class="comments_count">
    {{#if card.dueDate}}
      <div class="assignee">
        due: {{card.dueDate}}
      </div>
    {{/if}}
    <span class="entypo-comment" style="float: right">comments:{{card.commentCount}}</span>
  </p>
</footer>

{{yield}}
