<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  
  <script>
    window.data = <%= raw({
    user: @user,
    boards: @boards,
    lists: @lists,
    cards: @cards
  }.to_json) %>;

  </script>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <%= yield :head %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="wrapper">
  <div id="header">
    <%= render 'layouts/navigation' %>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <div id="footer">
    <p><%= title %> by <%= link_to "Blair.", "https://github.com/blairanderson" %></p>
  </div>

</div>
<%= yield :foot %>
</body>
</html>
