<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/new_relic' %>
  <title><%= title %></title>
  <% if @current_user_data %>
    <script>window.data = <%= raw(@current_user_data) %>;</script>
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <%= yield :head %>
  <%= csrf_meta_tags %>

</head>
<body>

<div id="wrapper">
  <div id="header">
    <%= render 'layouts/navigation' %>
  </div>

  <div id="main" class="container" style="padding-top: 50px;">
    <%= yield %>
  </div>

  <div id="footer">
    <p><%= title %> by <%= link_to "Blair.", "http://www.blairanderson.co/" %></p>
  </div>

</div>
<%= yield :foot %>
</body>
</html>
